<md-dialog aria-label="recover password modal" ng-cloak>
  <form name="recoverPassword">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Enter Email</h2>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <md-input-container layout="row" style="max-width: 90%; margin-left: auto; margin-right: auto">
          <label>Email</label>
          <input ng-model="credentials.email" type="email">
        </md-input-container>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button class="md-primary" (click)="dismiss()" style="margin-right:20px;">
        Close
      </md-button>
      <md-button class="" (click)="submit(credentials)" style="margin-right:20px;">
        Reset
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
