<md-dialog class="" aria-label="recover password modal" ng-cloak>
  <form name="recoverPasswordForm">
    <md-dialog-content class="md-dialog-content">
      <h2 class="md-title">Enter Email</h2>
        <div class="_md-dialog-content-body">
          <p class="md-body-1">Enter your email address to recieve an email with a token you can use to authenticate.</p>
        </div>
        <md-input-container class="md-prompt-input-container" style="width: 100%">
          <label>Email</label>
          <input ng-model="RecoverPassword.credentials.email" type="email" name="email" required />
          <div ng-messages="recoverPasswordForm.email.$error" ng-if="recoverPasswordForm.email.$dirty && recoverPasswordForm.email.$error.email" ng-messages-multiple="ng-messages-multiple">
            <div ng-message="email">You must enter a valid email address!</div>
            <div ng-message="required">You forgot to enter your email address!</div>
          </div>
        </md-input-container>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button class="md-primary" (click)="RecoverPassword.dismiss()" style="margin-right:20px">
        Close
      </md-button>
      <md-button class="" (click)="RecoverPassword.submit(credentials)" style="margin-right:20px" ng-disabled="recoverPasswordForm.$invalid">
        Submit
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
