<md-card>
  <md-card-title flex="none">
    <md-card-title-text>
      <span class="md-headline">Query (beta)</span>
      <span class="md-subhead" ng-bind="QueryBuilder.renderSubheader(QueryBuilder.chartState)"></span>
    </md-card-title-text>
    <md-card-title-media layout-align="end center" class="md-table-pagination limit" style="padding: 0">
        <query-header [(fields)]="QueryBuilder.fields" [query]="QueryBuilder.query" [chart-state]="QueryBuilder.chartState" (on-change)="QueryBuilder.onQueryChange.next()" flex></query-header>
      <md-menu>
        <md-button class="md-icon-button" flex aria-label="query options menu" ng-click="QueryBuilder.openMenu($mdOpenMenu, $event)" style="padding-left: 15px">
          <md-icon md-menu-origin>more_vert</md-icon>
        </md-button>
        <md-menu-content width="4">
          <md-menu-item>
            <button class="md-button md-ink-ripple" ng-click="QueryBuilder.setChartState($event, 'comparison')">
              <md-icon md-menu-align-target>insert_chart</md-icon>
              <p>Comparison</p>
            </button>
          </md-menu-item>
          <md-menu-item>
            <button class="md-button md-ink-ripple" ng-click="QueryBuilder.setChartState($event, 'composition')">
              <md-icon md-menu-align-target>pie_chart</md-icon>
              <p>Composition</p>
            </button>
          </md-menu-item>
          <md-menu-item>
            <button class="md-button md-ink-ripple" ng-click="QueryBuilder.setChartState($event, 'trends')">
              <md-icon md-menu-align-target>multiline_chart</md-icon>
              <p>Trends</p>
            </button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
    </md-card-title-media>
  </md-card-title>
  <md-card-content>
    <div layout="row">
      <md-input-container flex="80" class="chips-select-row" style="margin-top: -17px">
        <rs-chips-select class="metrics" [(model)]="QueryBuilder.query.metrics" [select-items]="QueryBuilder.state.metrics" (on-change)="QueryBuilder.onQueryChange.next()" placeholder="Metrics" flex="80"></rs-chips-select>
      </md-input-container>
      <md-input-container flex="20" class="chips-select-row">
        <label>Category</label>
        <md-select placeholder="Category" ng-model="QueryBuilder.fields.metrics" ng-change="QueryBuilder.setField('metrics')" ng-selected="users">
          <md-option value="sessions">Sessions</md-option>
          <md-option value="social">Social Networks</md-option>
          <md-option value="traffic">Traffic</md-option>
          <md-option value="users">Users</md-option>
        </md-select>
      </md-input-container>
    </div>
    <div layout="row">
      <md-input-container flex="80" class="chips-select-row" style="margin-top: -17px">
        <rs-chips-select class="dimensions" [(model)]="QueryBuilder.query.dimensions" [select-items]="QueryBuilder.state.dimensions" (on-change)="QueryBuilder.onQueryChange.next()" placeholder="Dimensions" flex="80"></rs-chips-select>
      </md-input-container>
      <md-input-container flex="20">
        <label>Category</label>
        <md-select placeholder="Category" ng-model="QueryBuilder.fields.dimensions" ng-change="QueryBuilder.setField('dimensions')" ng-selected="time">
          <md-option value="location">Location</md-option>
          <md-option value="sessions">Sessions</md-option>
          <md-option value="social">Social Networks</md-option>
          <md-option value="traffic">Traffic</md-option>
          <md-option value="time">Time</md-option>
          <md-option value="users">Users</md-option>
        </md-select>
      </md-input-container>
    </div>
  </md-card-content>
</md-card>
