<md-dialog aria-label="new password token modal" ng-cloak>
  <form name="unlockForm">
    <md-dialog-content class="md-dialog-content">
      <p>Enter the token you recieved in your email</p>
      <md-input-container layout="row" style="max-width: 100%">
        <label>Token</label>
        <input ng-model="Unlock.credentials.token" type="password" required>
        <div ng-messages="unlockForm.email.$error" ng-if="unlockForm.email.$submitted && unlockForm.email.$error">
          <div ng-message="required">You must enter a valid email address!</div>
        </div>
      </md-input-container>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button class="md-primary" (click)="Unlock.dismiss()">
        Close
      </md-button>
      <md-button class="" (click)="Unlock.submit(credentials)" ng-disabled="unlockForm.$invalid">
        Reset
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
