[Desktop Entry]
Version=1.0
Type=Application
Encoding=UTF-8
Name={{productName}}
Comment={{description}}
Exec=/opt/{{name}}-{{os}}-{{arch}}/{{name}}
Path=/opt/{{name}}-{{os}}-{{arch}}/
Icon=/opt/{{name}}-{{os}}-{{arch}}/icon.png
Terminal=false
Categories=Application;
