<md-dialog aria-label="login" ng-cloak>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Login</h2>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <md-input-container layout="row" style="max-width: 90%; margin-left: auto; margin-right: auto">
          <label>Email</label>
          <input ng-model="credentials.email" type="email">
        </md-input-container>
        <md-input-container layout="row" style="max-width: 90%; margin-left: auto; margin-right: auto">
          <label>Password</label>
          <input ng-model="credentials.password" type="password">
        </md-input-container>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button (click)="resetPassword(credentials)">
        Recover Password
      </md-button>
      <span flex></span>
      <md-button (click)="submit(credentials)" style="margin-right:20px;">
        Login
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
