<div layout="column" flex id="content" role="main">
  <md-content layout="row" layout-align="center center" layout-fill id="content">
    <md-whiteframe class="md-whiteframe-z1" flex="35" layout-padding style="min-width: 400px">
      <md-content layout-align="center center">
        <p>Enter a new password</p>
        <form name="passwordForm">
          <md-input-container class="md-block">
            <label>Password</label>
            <input type="password" name="password" ng-model="Password.credentials.password" required />
            <div ng-messages=passwordForm.password.$error" ng-if=passwordForm.$submitted ||passwordForm.password.$dirty" ng-messages-multiple="ng-messages-multiple">
              <div ng-message="required">You did not enter a password</div>
              <div ng-message="passwordMatch">Your passwords did not match.</div>
            </div>
          </md-input-container>
          <md-input-container class="md-block">
            <label>Password confirmation</label>
            <input type="password" name="confirmPassword" match-password="password" ng-model="Password.credentials.password_confirmation" required />
            <div ng-messages=passwordForm.confirmPassword.$error" ng-if=passwordForm.$submitted ||passwordForm.confirmPassword.$dirty">
              <div ng-message="passwordMatch">Your passwords did not match.</div>
            </div>
          </md-input-container>
          <md-input-container layout="row" layout-align="space-between center">
            <md-button flex (click)="Password.submit(Password.credentials)">Submit</md-button>
          </md-input-container>
        </form>
      </md-content>
    </md-whiteframe>
  </md-content>
</div>
