<md-dialog aria-label="password form modal" ng-cloak>
  <form name="passwordForm">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Reset password</h2>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <md-input-container class="md-block">
          <label>Password</label>
          <input ng-model="Password.credentials.password" name="password" type="password" required>
          <div ng-messages="passwordForm.password.$error" ng-if="passwordForm.$submitted || passwordForm.password.$dirty" ng-messages-multiple="ng-messages-multiple">
            <div ng-message="required">You did not enter a password</div>
            <div ng-message="passwordMatch">Your passwords did not match.</div>
          </div>
        </md-input-container>
        <md-input-container class="md-block">
          <label>Password confirmation</label>
          <input ng-model="Password.credentials.password_confirmation" match-password="password" name="passwordConfirm" type="password" required>
          <div ng-messages="passwordForm.passwordConfirm.$error" ng-if="passwordForm.$submitted || passwordForm.passwordConfirm.$dirty" ng-messages-multiple="ng-messages-multiple">
            <div ng-message="required">You did not enter a password</div>
            <div ng-message="passwordMatch">Your passwords did not match.</div>
          </div>
        </md-input-container>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button (click)="Password.dismiss()" style="margin-right:20px;">
        Close
      </md-button>
      <md-button (click)="Password.submit(Password.credentials)" ng-disabled="passwordForm.$invalid" style="margin-right:20px;">
        Reset
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
