<md-toolbar class="md-table-toolbar md-default" ng-show="Toolbar.state.actionState">
  <div class="md-toolbar-tools">
    <h2 class="md-title">{{ Toolbar.title }}</h2>
    <div flex></div>
    <button class="md-icon-button md-button md-ink-ripple" (click)="Toolbar.setState()">
      <md-icon>filter_list</md-icon>
    </button>
    <button ng-if="Toolbar.options.actions.includes('add')" class="md-icon-button md-button md-ink-ripple" (click)="Toolbar.addAction($event)">
      <md-icon>add</md-icon>
    </button>
  </div>
</md-toolbar>
<md-toolbar class="md-table-toolbar md-default" ng-show="Toolbar.state.searchState">
  <div class="md-toolbar-tools">
    <md-icon>search</md-icon>
    <form flex name="filterForm">
      <md-input-container flex-gt-sm md-no-float style="margin-top: 55px; margin-left: 15px">
        <input type="text" ng-model="Toolbar.query.filter" ng-model-options="Toolbar.filter.options" placeholder="search">
      </md-input-container>
    </form>
    <button class="md-icon-button md-button md-ink-ripple" type="button" (click)="Toolbar.setState()" aria-label="remove filter">
      <md-icon>close</md-icon>
      <div class="md-ripple-container"></div>
    </button>
  </div>
</md-toolbar>
<md-toolbar class="md-table-toolbar alternate" ng-show="Toolbar.state.itemSelectedState">
  <div class="md-toolbar-tools layout-align-space-between-stretch" layout-align="space-between">
    <div><p class="md-body-1">{{ Toolbar.selected }}</p></div>
    <button ng-if="Toolbar.options.actions.includes('deleteAll')" class="md-icon-button md-button md-ink-ripple" (click)="Toolbar.deleteAction($event)" aria-label="delete item">
      <md-icon>delete</md-icon>
    </button>
  </div>
</md-toolbar>
