#analytics-doughnut {
  height: auto !important;
  margin: 0;
  border: 0;
  vertical-align: bottom;
}

#analytics-line {
  height: 350px !important;
  margin: 0;
  border: 0;
  vertical-align: bottom;
}

#analytics-bar {
  height: 350px !important;
  margin: 0;
  border: 0;
  vertical-align: bottom;
}

.chart-container {
  max-height: 572px;
  width: 100%;
}

.tc-chart-js-legend {
  list-style-type: none;
  padding-left: 0px;
}
.tc-chart-js-legend li {
  display: block;
  float: left;
  clear:both;
  padding:10px;
}
.tc-chart-js-legend li span {
  width:25px;
  height:25px;
  display:block;
  float:left;
  margin-right:10px;
}
