<span class="header-date">
  <md-datepicker ng-if="Header.showDatePicker1()" ng-model="Header.fields['start-date']" md-placeholder="Start date" md-max-date="Header.endDate" ng-change="Header.setParam('date', 'start-date')"></md-datepicker>
  <span class="label limit-label" ng-if="Header.showDatePicker2()">to: </span>
  <span class="label limit-label" ng-if="Header.query.dimensions.includes('ga:hour') && Header.query.dimensions.includes('ga:nthHour') && Header.chartState === 'comparison'">vs: </span>
  <md-datepicker ng-if="Header.showDatePicker2()" ng-model="Header.fields['end-date']" md-max-date="Header.endDate" ng-change="Header.setParam('date', 'end-date')"></md-datepicker>
  <span class="label limit-label" ng-if="Header.query.dimensions.includes('ga:hour')"></span>
</span>
